In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
data = pd.read_csv('StudentsPerformance.csv')
data.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [18]:
data['gender'].unique()

array(['female', 'male'], dtype=object)

In [19]:
data['parental level of education'].unique()

array(["bachelor's degree", 'some college', "master's degree",
       "associate's degree", 'high school', 'some high school'],
      dtype=object)

In [20]:
data['test preparation course'].unique()

array(['none', 'completed'], dtype=object)

In [21]:
data['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

In [35]:
sum_data = data.describe()
sum_completed = data[data['test preparation course'] == 'completed'].describe()
sum_none = data[data['test preparation course'] == 'none'].describe()

In [36]:
mean_values_data = sum_data.loc['mean']
mean_values_completed = sum_completed.loc['mean']
mean_values_none = sum_none.loc['mean']

In [37]:
type(mean_values_completed)

pandas.core.series.Series

In [41]:
mean_values_prep = pd.DataFrame({
    'Total' : mean_values_data,
    'Prep Course: completed': mean_values_completed,
    'Prep Course: none': mean_values_none
})

In [42]:
mean_values_prep

                Total  Prep Course: completed  Prep Course: none
math score     66.089               69.695531          64.077882
reading score  69.169               73.893855          66.534268
writing score  68.054               74.418994          64.504673

In [44]:
sum_some_high = data[data['parental level of education'] == 'some high school'].describe().loc['mean']
sum_high = data[data['parental level of education'] == 'high school'].describe().loc['mean']
sum_some_college = data[data['parental level of education'] == 'some college'].describe().loc['mean']
sum_associate = data[data['parental level of education'] == "associate's degree"].describe().loc['mean']
sum_bachelors = data[data['parental level of education'] == "bachelor's degree"].describe().loc['mean']
sum_masters = data[data['parental level of education'] == "master's degree"].describe().loc['mean']

In [45]:
mean_values_education = pd.DataFrame({
    'Total' : mean_values_data,
    'Some High School': sum_some_high,
    'High School': sum_high,
    'Some College': sum_some_college,
    "Associate's Degree": sum_associate,
    "Bachelor's Degree": sum_bachelors,
    "Master's Degree": sum_masters,
})

In [46]:
mean_values_education

,Total,Some High School,High School,Some College,Associate's Degree,Bachelor's Degree,Master's Degree
math score,66.089,63.497207,62.137755,67.128319,67.882883,69.389831,69.745763
reading score,69.169,66.938547,64.704082,69.460177,70.927928,73.000000,75.372881
writing score,68.054,64.888268,62.448980,68.840708,69.896396,73.381356,75.677966